[submodule "vendor/iwnet"]
	path = vendor/iwnet
	url = https://github.com/Softmotions/iwnet.git
[submodule "vendor/zq"]
	path = vendor/zq
	url = https://github.com/linuxy/zq.git
[submodule "vendor/mustache"]
	path = vendor/mustache
	url = https://github.com/batiati/mustache-zig.git
